doctype html
html(lang='en')
  head
    block title
      title Express-React-Bootstrap-Starter
    script(async,defer,src='https://cdn.polyfill.io/v2/polyfill.min.js')  
    link(rel='stylesheet' type='text/cscs' href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/cscs' href='/assets/css/theme.css')
  body
    block body
